@font-face {
  font-family: "Aileron-Thin";
  src: url(../fonts/Aileron-Thin.otf) format("opentype"); }
@font-face {
  font-family: "Aileron-Light";
  src: url(../fonts/Aileron-Light.otf) format("opentype"); }
@font-face {
  font-family: "Aileron-UltraLight";
  src: url(../fonts/Aileron-UltraLight.otf) format("opentype"); }
* {
  margin: 0; }

body, html {
  height: 100%; }

body {
  font-family: "Aileron-Light", sans-serif; }

.container {
  height: 100%; }
  .container .box {
    height: 100%;
    color: #fff;
    text-align: center;
    position: relative; }
  .container .boxText {
    position: relative;
    border: 3px double white;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .container .boxText p:not(.name) {
      font-size: 15px;
      text-align: center;
      letter-spacing: 3px; }
  .container .name {
    font-size: 75px;
    font-family: "Aileron-UltraLight", sans-serif;
    text-transform: uppercase; }
  .container .downArrow img {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    width: 50px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .container #box1 {
    background: url("../images/pluto1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .container #box2 {
    background: url("../images/neptune2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .container #box2 a {
      border: 1px solid white;
      background: none;
      color: white;
      font-size: 15px;
      padding: 10px 5px 10px 10px;
      letter-spacing: 5px;
      text-align: center;
      position: absolute;
      top: 85%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      font-family: "Aileron-Light", sans-serif;
      cursor: pointer;
      transition: .5s all ease;
      text-decoration: none; }
      .container #box2 a:hover {
        background: white;
        color: #000; }
  .container #box1Text {
    height: 250px;
    width: 250px;
    top: 25%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media screen and (max-width: 400px) {
      .container #box1Text {
        width: 200px;
        height: 200px; }
        .container #box1Text .name {
          font-size: 60px; } }
  .container #pluto {
    position: relative;
    top: 25%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -15px; }
    .container #pluto .name {
      margin-bottom: -10px; }
  .container #neptune {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .container #neptune .name {
      margin-top: -10px; }
  .container #box2Text {
    border: 3px double white;
    border-radius: 100%;
    width: 350px;
    height: 350px; }
    @media screen and (max-width: 400px) {
      .container #box2Text {
        width: 300px;
        height: 300px; }
        .container #box2Text .name {
          font-size: 60px; } }

/*# sourceMappingURL=style.css.map */
